.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .custom-radio span {
    position: relative;
    width: 34px;
    height: 30px;
    border: 2px solid #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    transition: all 0.2s;
    border-radius: 15%; /* Đặt giá trị border-radius thành 50% để ẩn đi vòng tròn */
    margin: 5px;
  }

  .custom-radio span:hover{
    background-color: skyblue;
  }
  
  .custom-radio input[type="radio"]:checked + span {
    font-weight: bold;
    background-color: skyblue;
  }


  .custom-radio .empty {
    position: relative;
  }
  
  .custom-radio .empty::after {
    content: "Hết hàng";
    width: 80px;
    position: absolute;
    bottom: 10px;
    display: none;
    color: red;
    padding: 0px;
    font-size: 10px;
  }
  
  .custom-radio .empty:hover::after {
    display: block;
  }